body{
    font-family: Arial, sans-serif;

    margin: 0;
    padding: 0;

    text-align: center;
}
section{
    width: 80%;

    margin: 20px auto;

    padding: 20px;

    border: 1px solid black;

    border-radius: 10px;
}
nav{
    padding: 20px;
}
nav a{
    margin: 15px;

    text-decoration: none;

    font-weight: bold;
}
table{
    width: 80%;

    margin: 20px auto;

    border-collapse: collapse;
}
th, td{
    border: 1px solid black;

    padding: 10px;
}
pre{
    width: 50%;

    margin: auto;

    padding: 1px;

    border: 2px solid black;

    border-radius: 1px;

    text-align: centre;
}
.domains-list{
    list-style-position: inside;

    padding: 0;

    width: fit-content;

    margin: auto;
}
.note-form{
    width: 60%;

    margin: auto;

    display: flex;

    flex-direction: column;

    gap: 15px;
}
.note-form input,
.note-form textarea,
.note-form select{

    padding: 15px;

    border-radius: 8px;

    border: 1px solid gray;

    font-size: 16px;
}
.note-form textarea{
    height: 200px;

    resize: vertical;
}
.note-form label{
    font-weight: bold;

    text-align: left;
}
.note-form button{

    width: fit-content;

    margin: auto;

    padding: 12px 25px;

    font-size: 16px;

    border-radius: 8px;

    cursor: pointer;
}
#saved-notes{
    width: 80%;

    margin: auto;
}
#saved-notes div{

    border: 1px solid black;

    border-radius: 10px;

    padding: 15px;

    margin-top: 20px;

    text-align: left;
}